<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossword"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="6" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.crossword.Crossword"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.crossword.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>

         

        <activity 
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter >
             <action android:name="android.intent.action.MAIN" />

             <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".activity.GameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        
             

        </activity>
        <activity
            android:name="com.crossword.activity.CategoryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name="com.crossword.activity.GridListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name="com.crossword.activity.FeedbackActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name="com.crossword.activity.PeferencesActivity"
            android:label="Preferences"
            android:launchMode="singleTop" />
        <activity
            android:name="com.crossword.activity.GridActivity"
            android:label="GridActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crossword.activity.HistoryActivity"
            android:label="@string/title_activity_history" >
               <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>