<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossword"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />
	
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name="com.crossword.Crossword"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.crossword.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.crossword.activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.crossword.activity.GameActivity"            
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.crossword.activity.CategoryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name="com.crossword.activity.GridListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
         <activity
            android:name="com.crossword.activity.CategoryGridListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
         
        <activity
            android:name="com.crossword.activity.FeedbackActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name="com.crossword.activity.PeferencesActivity"
            android:label="Preferences"
            android:launchMode="singleTop" />
        <activity
            android:name="com.crossword.activity.GridActivity"
            android:label="GridActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crossword.activity.HistoryActivity"
            android:label="@string/title_activity_history" >
            
        </activity>
        <activity
            android:name="com.crossword.activity.RegisterActivity"
            android:label="@string/title_activity_register" >

        </activity>
        <activity
            android:name="com.crossword.activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        
        <activity 
            android:name="com.crossword.activity.IndividualActivity"
            
            >
            
            
        </activity>
        
    </application>

</manifest>